* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app{
    padding: 20px;
}
.input{
    margin:10px 0;
}
hr{
    margin:10px 0;
}
h1{
    margin-top: 10px;
}
.box-image{
    max-width: 100px;
}
span{
    font-size: 20px;
}